<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Smart Task Manager</title>
  <link rel="stylesheet" href="/css/adminDashoboard.css">
  <link rel="stylesheet" href="/css/editTask.css">
  <script defer src="/js/adminScript.js"></script>
</head>

<body>
  <nav class="navbar">
    <div class="nav-brand">Admin</div>
    <ul class="nav-links">
      <li><a href="/admin/dashboard">Dashboard</a></li>
      <li><a href="/view-books">View Task</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
<body>
    <section class="task-input-section">
        
         <h1>Edit Task</h1>
  <form action="/admin/edit-task/<%= task.id %>" method="POST">
    <label>Title:</label>
    <input type="text" name="title" value="<%= task.title %>" required><br>
    
    <label>Description:</label>
    <textarea name="description"><%= task.description %></textarea><br>
    
    <label>Due Date:</label>
    <input type="date" name="due_date" value="<%= task.due_date.toISOString().split('T')[0] %>"><br>
    
    <button type="submit">Update Task</button>
  </form>

    </section>

 
 <%- include('partials/footer') %>

</body>

</html>
